.timeline-page {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.content-container {
  display: flex;
  justify-content: space-between; 
  margin-top: 20px;
  gap: 20px; 
}

.comparison-character-card-info {
  flex: 1;
  min-width: 40%; 
  max-width: 48%; 
}


.alter-egos-chart {
  flex: 1;
  min-width: 48%; 
  max-width: 48%; 
  background-color: #1a1a1a; 
  border-radius: 12px; 
  padding: 20px; 
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.08); 
}

.timeline-chart {
  margin-top: 20px;
  background-color: #1a1a1a; 
  border-radius: 12px; 
  padding: 20px; 
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.08); 
}


.chart-wrapper {
  height: 300px; 
  position: relative;
}